<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YanYuan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yanyuan.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LuanmaFilter</filter-name>
    <filter-class>com.yanyuan.filter.LuanmaFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LuanmaFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.yanyuan.web.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchWordServlet</display-name>
    <servlet-name>SearchWordServlet</servlet-name>
    <servlet-class>com.yanyuan.web.SearchWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchWordServlet</servlet-name>
    <url-pattern>/searchWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductsServlet</display-name>
    <servlet-name>FindProductsServlet</servlet-name>
    <servlet-class>com.yanyuan.web.FindProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductsServlet</servlet-name>
    <url-pattern>/FindProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>com.yanyuan.web.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/SearchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProinfoServlet</display-name>
    <servlet-name>ProinfoServlet</servlet-name>
    <servlet-class>com.yanyuan.web.ProinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProinfoServlet</servlet-name>
    <url-pattern>/ProinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiuyanServlet</display-name>
    <servlet-name>LiuyanServlet</servlet-name>
    <servlet-class>com.yanyuan.web.LiuyanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiuyanServlet</servlet-name>
    <url-pattern>/LiuyanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUserServlet</display-name>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>com.yanyuan.web.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserServlet</servlet-name>
    <url-pattern>/RemoveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiaoLeiServlet</display-name>
    <servlet-name>TiaoLeiServlet</servlet-name>
    <servlet-class>com.yanyuan.web.TiaoLeiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiaoLeiServlet</servlet-name>
    <url-pattern>/TiaoLeiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiaoproServlet</display-name>
    <servlet-name>TiaoproServlet</servlet-name>
    <servlet-class>com.yanyuan.web.TiaoproServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiaoproServlet</servlet-name>
    <url-pattern>/TiaoproServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.yanyuan.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GouwcServlet</display-name>
    <servlet-name>GouwcServlet</servlet-name>
    <servlet-class>com.yanyuan.web.GouwcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GouwcServlet</servlet-name>
    <url-pattern>/GouwcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoGwcServlet</display-name>
    <servlet-name>InfoGwcServlet</servlet-name>
    <servlet-class>com.yanyuan.web.InfoGwcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoGwcServlet</servlet-name>
    <url-pattern>/InfoGwcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FukuanServlet</display-name>
    <servlet-name>FukuanServlet</servlet-name>
    <servlet-class>com.yanyuan.web.FukuanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FukuanServlet</servlet-name>
    <url-pattern>/FukuanServlet</url-pattern>
  </servlet-mapping>
</web-app>